body {
  background-image: url('https://mxg.cdnbf.net/mexchangeblackjack/turbo/assets/gameView/tableBackground.png');
  background-size: cover;
  font-color: white;
}
button {
  font-size: 15pt;
  background-color: brown;
  border-radius: 5px;

  border-color: black;
}
.cardheader {
  color: white;
}
.card {
  float: left;
  border: solid 1px black;
  width: 120px;
  border-radius: 5px;
  height: 167px;
  margin-right: 20px;
}

.covered {
  content: url(card-back.png);
}

.hand {
  overflow: auto;
}

.player-hand-container {
  position: absolute;
  left: 40%;
  top: 55%;
}

.dealer-hand-container {
  position: absolute;
  left: 40%;
  top: 5%;
}

.buttons {
  position: absolute;
  left: 50%;
  top: 90%;
}

.winner {
  font-size: 25pt;
  color: white;
  position: absolute;
  left: 50%;
  top: 40%;
}